html {
  --main-color: #10cab7;
  --main-text-color: #979797;
  --secondary-color: #2c4755;
  --section-background: #f6f6f6;
  --secondary-background: #ebeced;
  --secondry-text-color: rgb(120, 120, 120);
}

nav {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
nav img:first-child {
  padding-bottom: 15px;
}
nav .toggler {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
nav .toggler .icon {
  width: 40px;
  min-height: 45px;
  display: flex;
  padding-bottom: 5px;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-direction: column;
}
nav .toggler:hover .icon span:first-child {
  transform: rotate(-45deg) translate(-7px, 9px);
}
nav .toggler:hover .icon span:last-child {
  transform: rotate(45deg) translate(-7px, -9px);
}
nav .toggler:hover .icon span:nth-child(2) {
  opacity: 0;
}
nav .toggler:hover ul {
  display: flex;
}
nav .toggler .icon span {
  width: 100%;
  height: 2px;
  background-color: black;
}
nav .toggler .icon span:nth-child(2) {
  width: 70%;
}
nav .toggler ul {
  border-radius: 20px 0 20px 20px;
  flex-direction: column;
  width: 200px;
  list-style-type: none;
  z-index: 101101101110110011101;
  display: none;
  background-color: rgb(246, 246, 246);
}
nav .toggler ul li {
  padding: 20px;
  color: var(--secondry-text-color);
  border-bottom: 1px solid rgb(218, 218, 218);
}
nav .toggler ul li a {
  padding: 0;
  display: inline-block;
  color: var(--secondry-text-color);
  margin: 0;
  text-decoration: none;
}
nav .toggler ul li:hover a {
  transform: translateX(10px);
}
section.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  text-align: center;
}
section.first {
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/landing.jpg);
  background-size: cover;
}
section.first h1 {
  font-size: 3.4rem;
  font-weight: bold;
  color: var(--main-color);
}
section.first p {
  font-size: 1.5rem;
  color: var(--secondry-text-color);
}
section.sec:nth-child(3) {
  margin-bottom: 100px;
}
section.sec:nth-child(3) {
  display: grid;
  gap: 5%;
  padding-top: 100px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
section.sec:nth-child(7) {
  width: 100vw;
  padding-top: 100px;
  max-height: fit-content;
  padding-bottom: 100px;
  background-color: var(--section-background);
  display: grid;
  justify-content: center;
  gap: 30px 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
section.sec .card {
  display: flex;
  min-height: 300px;
  max-width: fit-content;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
section.sec .card .i {
  color: var(--main-color);
}
section.sec .card p {
  text-align: center;
}
section.sec .card p:first-of-type {
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0.7px;
}
section.sec .card p:last-of-type {
  font-size: 1.2rem;
  color: var(--secondry-text-color);
}
.third {
  width: 100vw;
  min-height: 30vh;
  max-height: 400px;
  padding-top: 100px;
  background-color: var(--section-background);
  position: relative;
}
#services {
  background-color: #fff;
}
.third h2 {
  position: absolute;
  top: 0;
  font-size: 4.8rem;
  padding: 50px;
  opacity: 0.3;
  width: fit-content;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  z-index: 2;
}
.third p {
  position: absolute;
  top: 86%;
  font-size: 1.5rem;
  opacity: 0.8;
  width: fit-content;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.service {
  display: grid;
  gap: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--section-background);
  grid-template-columns: 70% 30%;
}
.service article:first-child {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.service article img {
  max-height: 500px;
  position: relative;
}
.service article:last-child {
  position: relative;
  overflow: visible;
}
.service {
  background-color: #fff;
  margin-bottom: 100px;
}
.service article:last-child:before {
  content: "";
  position: absolute;
  right: -20%;
  background-color: var(--secondary-color);
  width: 150px;
  height: calc(100% + 50px);
  top: -15%;
}
#Portfolio p {
  text-align: center;
}
.card img {
  width: 300px;
  max-width: 100%;
}
div.third.about {
  background-color: #fff;
  margin-top: 100px;
}
.about-sect .col-6 img p {
}
.about-sect {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-sect .col-6:first-child {
  position: relative;
  width: 250px;
  height: 375px;
}
.about-sect .col-6 img {
  max-width: 100%;
}
.about-sect .col-6:first-child::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-background);
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about-sect .col-6:first-child::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  right: -150px;
  top: -40px;
  z-index: -1;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}
.about-sect .col-6:last-child {
  flex-basis: calc(100% - 500px);
}
.about-sect .col-6:last-child p:first-of-type {
  font-weight: 900;
  line-height: 2;
  margin-bottom: 60px;
}
.about-sect hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}
.about-sect .col-6:last-child p:last-of-type {
  line-height: 2;
  margin-top: 60px;
  color: #777;
}

section.sec .card:last-child{
  padding-bottom: 60px;
}